@import "nhsuk";

/*
   Colours.
*/

$callout-border-blue: #40ADD7;
$callout-blue: rgba(64, 173, 215, 0.1);
$grey: #d9dde0;
$warning: #fff8e7;
$warning-border: #fcd775;
/*
   HTML elements
*/
html {
  background-color:$blue;
}
table, .table {
  tr {
    border-bottom:1px solid $grey;
    @include media(tablet) {
      border-bottom:none;
    }
    th {
      font-weight: normal;
      font-size:1em;
      line-height: 1.375em;
    }
    td, th {
      padding:0;
      border-bottom:none;
      width:100%;
      display:inline-block;
      @include media(tablet) {
        padding:16px;
        width:auto;
        display:table-cell;
        border-bottom:1px solid $grey;
      }
    }
    td {
      &:first-child {
        font-weight: bold;
        padding-top:16px;
        @include media(tablet) {
          font-weight:normal;
        }
      }
      &:last-child {
        padding-bottom:16px;
      }
      &[colspan="1"] {
        padding:0;
        @include media(tablet) {
          padding:16px;
        }
      }
    }
    &:first-child {
      td {
        padding-top:0px;
        @include media(tablet) {
          padding-top:16px;
        }
      }
    }

  }
  &.opening-times {
    tr {
      &.one-session {
        td {
          width:auto;
          display:table-cell;
          vertical-align: middle;
          line-height: 40px;
          @include media(tablet) {
            line-height: 24px;
            padding:16px;
          }
          &:first-child,
          &:last-child {
            padding:0;
            @include media(tablet) {
              padding:16px;
            }
          }
        }
      }
      td {
        margin-top:6px;
        @include media(tablet) {
          margin-top:16px;
        }
      }
    }
    &--exceptional {
      margin:0;
      tr {
        &:last-child {
          border:none;
          td {
            border:none;
          }
        }
        td {
          padding:0;
          margin-top:6px;
          @include media(tablet) {
            padding: 16px 0;
            margin-top:16px;
          }
        }
        &.one-session {
          margin-top: 0px;
          height:30px;
          padding:0 0 8px;
          border:none;
          td {
            padding:0;
            display:inline-block;
            margin: 0;
            width:100%;
            line-height: 24px;
            @include media(tablet) {
              width:auto;
            }
            &:first-child {
              font-weight:bold;
              margin-right: 5px;
              padding-top:10px;
              @include media(tablet) {
                padding-top:0px;
                font-weight:normal;
              }
            }
            &:first-child,
            &:last-child {
              @include media(tablet) {
                padding:0px;
              }
            }
          }
          &:first-child {
            td {
              &:first-child {
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
  &--grey {
    background-color:#f5f5f5;
  }
}

hr, .hr {
  &--no-color {
    background-color:transparent;
  }
  &--fullwidth {
    width:100%;
    margin:32px 0;
    background-color: $grey;
    height:2px;
    @include media(desktop) {
      margin:56px 0;
    }
  }
}
ul {
  &.link-list {
    &.grid-row {
      margin-bottom: 36px;
      li {
        &.column--one-half {
          margin-bottom: 16px;
          @include media(desktop) {
            padding-right:0;
          }
          a {
            line-height:22px;
            color: #002C89;
            width:100%;
            background-color: #F0F4F5;
            border-bottom:2px solid #C0CCDF;
            padding:12px;
            display:block;
            text-decoration: none;
            position:relative;
            transition: background 0.1s linear;
            font-weight: 600;
            &:after {
              content: ">";
              right: 8px;
              position: absolute;
            }
            &:hover {
              color: #00236e;
              background-color: #c0c3c4;
              border-bottom: 2px solid #9aa3b2;
              transition: background 0.1s linear;
            }
          }
        }
      }
    }
  }
}

form {
  .form-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "FS Me", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
    width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 2px solid #000;
    @include media(tablet) {
      font-size: 24px;
      line-height: 32px;
      width: 50%;
    }
    @include media(desktop) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .form-label-bold {
    font-family: "FS Me", Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-transform: none;
  }
  .form-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
}

.h2 {
  &--smaller{
    font-size: 24px;
    line-height: 32px;
    @include media(tablet) {
      font-size: 24px;
      line-height: 32px;
    }
    @include media(desktop) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.reading-width {
  @include reading-width;
  hr {
    &:first-of-type {
      + h2 {
        margin-top:32px;
      }
    }
  }
}
.local-header-white-bg,
.notification-banner {
  &--question,
  > * {
    max-width:960px;
    margin: 0 16px;
    padding: 8px 0;
    @include media(tablet) {
      margin: 0 16px;
    }
    @include media(desktop) {
      margin: 0 32px;
    }
    @media (min-width: 1024px){
      margin: 0 auto;
    }
  }
}
.local-header-white-bg {
  > .local-header {
    background-color:$white;
    h1 {
      color: $black;
    }
  }
}

.local-header {
  margin-top:0;
  padding:16px 0;
  background-color:$blue;
  color: $white;
  @include media(tablet) {
    padding:32px 0;
  }
  &--fullwidth {
    max-width:100%;
    @include media(mobile) {
      margin:0;
      padding:0 16px;
    }
    @include media(tablet) {
      margin:0;
      padding:0 16px;
    }
    h1 {
      padding-top:0;
      margin-bottom: 8px;

      @include media(tablet) {
        margin-bottom: 16px;
      }
    }
    a {
      word-wrap: break-word;
    }
    p {
      font-size:1em;
      line-height:1.6em;
      margin-top: 0;
    }
    .local-header__intro {
      .column {
        &--one-half {
          margin-top: 0;
          @include media(tablet) {
            float: left;
            width: 50%;
          }
        }
      }
    }
  }
  &--no-padding {
    padding:0;
  }
  &--no-padding-lr {
    padding-left:0;
    padding-right:0;
  }
  &__intro {
    &--fullwidth{
      padding-top:16px;
      margin-top:16px;

      @include media(tablet) {
        padding-top: 24px;
        margin-top: 24px;
      }
    }
  }
  .gp-address {
    margin-bottom: 8px;
  }
}

.global-header,
.global-footer,
.notification-banner {
  &--question,
  > * {
    font-size: 16px;
    line-height: 24px;
  }
}

.global-header {
  &--inner {
    padding-bottom: 16px;
    padding-top: 16px;
    @include media(tablet) {
      padding-bottom: 24px;
      padding-top: 24px;
    }
  }
  &__link {
    @include media(tablet) {
      float:none;
    }
  }
}
.global-footer {
  background-color: $blue;
  &__inner {
    padding-bottom: 96px;
    padding-top: 32px;
    &::before {
      background-size: contain;
      content: "";
      display: block;
      height: 32px;
      margin-bottom: 32px;
      text-indent: -999em;
      width: 79px;
      @include media(desktop) {
        margin-bottom: 48px;
      }
    }
    @include media(desktop) {
      padding-bottom: 128px;
      padding-top: 48px;
    }
  }
}

/*
   Skip Links
*/
.skiplinks {
  background-color: #a6ceeb;
  &--link {
    color: #fff;
    display: inline-block;
    left: -999em;
    padding: 8px;
    position: absolute;
    &:focus {
      background-color: #f2f8fc;
      border: 3px solid #ffb81c;
      outline: none;
      position: static;
      @include media(mobile) {
        left:0;
        position:absolute;
      }
    }
  }
}


/*
  Results page
*/
.exceptional-opening-times {
  padding:16px;
  h3 {
    font-size:16px;
    line-height:1em;
    padding-bottom:8px;
  }
}
.page-section{
  .grid-row {
    margin: 0 -16px;
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    @include media(desktop) {
      > * {
        margin-top: 0;
      }
    }
    .column--two-thirds {
      display:block;
      padding:0 16px;
      @include media(tablet) {
        float: left;
        width: 66.6667%;
      }
    }
    .results {
      list-style: none;
      margin:0;
      padding:0 16px;
      &__item {
        margin-top:8px;
        &--nearest {
          border: 16px solid $blue;
          padding: 0;
        }
        &--nearby {
          margin-top:48px;
          &:first-child {
            padding-top:0;
            .results__details {
              padding-top:0;
            }
          }
        }
        &:first-child {
          margin-top: 0;
        }
        &:after {
          clear: both;
          content: "";
          display: block;
        }
      }
      &__header {
        font-size: 32px;
        line-height:40px;
        padding:0 8px;
        &--nearest {
          background-color: $blue;
          color: #fff;
          padding:8px 8px 24px 8px;
        }
        @include media(tablet) {
          line-height: 48px;
          padding:0;
          &--nearest {
            padding: 16px 16px 32px 16px;
          }
          &--none {
            padding:0;
          }
        }
      }
      &__details {
        padding: 0 32px 32px 32px;
        position: relative;
        &--nearby {
          padding-bottom: 32px;
          padding-left: 0;
          padding-right: 0;
          &:after {
            background-color: #d9e1e2;
            content: "";
            display: block;
            height: 4px;
            left: 0;
            position: absolute;
            bottom: -2px;
            width: 130px;
          }
        }
        .callout {
          display:block;
        }
      }
      &__nearby {
        padding: 16px;
        @include media(desktop) {
          padding:32px;
        }
        &-list {
          list-style: none;
          margin: 32px 0 0 0;
          padding: 0;
        }
      }
      &__name {
        margin-top:8px;
      }
      &-block {
        &--none {
          background-color: #0072c6;
          color: #fff;
          margin-bottom: 32px;
          padding: 16px;
          @include media(desktop) {
            margin-bottom: 48px;
          }
          .results__header {
            padding: 8px 8px 12px 8px;
            @include media(desktop) {
              padding: 8px 16px 0 16px;
            }
          }
          .results__none-content {
            background: #fff;
            color: #000;
            padding: 16px;
            @include media(desktop) {
              padding: 32px;
            }
          }
        }
      }
    }
  }
}

/*
  Links
*/
.link-back {
  border-bottom: 1px solid #0b0c0c;
  color: #000000;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-top:16px;
  margin-bottom: 32px;
  padding-left: 14px;
  position: relative;
  text-decoration: none;
  text-transform: none;
  @include media(desktop) {
    margin-top:0;
  }
  &::before {
    border-bottom: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-top: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 0;
  }
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #000000;
  }
}

.callout{
  &--blue {
    background-color: $callout-blue;
    border-left: 4px solid $callout-border-blue;
  }
  &--half-padding {
    padding: 4px 16px;
  }
  &--warning {
    background-color:$warning;
    border-color:$warning-border;
  }
}


/*
   Error styling
*/

.error {
  margin-right: 15px;
  border-left: 4px solid #b10e1e;
  padding-left: 10px;
  > .form-control {
    border: 4px solid #b10e1e;
  }
  @include media(tablet) {
    border-left: 5px solid #b10e1e;
    padding-left: 15px;
  }
}

.error-summary {
  border: 4px solid #338ed1;
  margin-bottom: 45px;
  padding: 15px 10px;
  background-color: #fff;
  @include media(tablet) {
    border: 5px solid #338ed1;
    margin-top: 0;
    margin-bottom: 45px;
    padding: 20px 15px 15px;
  }
  &:focus {
    outline: 3px solid #ffbf47;
  }
  &-heading {
    margin-top: 0;
  }
  &-list {
    color: #000;
    list-style-type:none;
    margin-top:0;
    padding:0;
    li {
      @include media(tablet) {
        margin-bottom: 5px;
      }
    }
    a {
      color: #b10e1e;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  p {
    margin-bottom: 10px;
  }
}

/*
  Utilities
*/
.u-nomargin {
  margin:0;
}

.u-margintop5 {
  margin-top:5px;
}

/*
  Other
*/
.local-header{
  &--question {
    padding: 0;
  }
  &__intro {
    &--fullwidth {
      max-width:100%;
    }
  }
}
